# StackOverflow Developer Survey Analysis

##  Author: SVITLANA PRASOLOVA

## Data Analytics Project 
Data analysis of the latest StackOverflow Developer Survey using Python & Pandas.
Explored trends in developers’ experience, work format, education, and compensation.
Includes insights on Python usage, remote work, and global salary patterns

## Project Tasks
- Load and explore the latest StackOverflow Developer Survey dataset.
- Clean and prepare data using Pandas.
- Analyze developers’ profiles: experience, work format, education, and programming languages.
- Evaluate Python usage, remote work, and compensation trends by country.

## Results:
- Performed statistical and exploratory data analysis on survey results.
- Identified trends by experience, country, compensation, and programming languages.
- Provided insights into socio-economic patterns among Python developers.

# Process
### Preparing work environment
I will be using Python for the data transformation and research. The following libraries are installed:

In [13]:
import pandas as pd
import numpy as np

In [14]:
df_results = pd.read_csv(r"C:\Users\Світлана\Downloads\Materials Python\survey_results_public.csv")
df_results.head()                                       # Verifying the data (1)

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

In [15]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49123 entries, 0 to 49122
Columns: 170 entries, ResponseId to JobSat
dtypes: float64(50), int64(1), object(119)
memory usage: 63.7+ MB

In [17]:
df_results.columns

Index(['ResponseId', 'MainBranch', 'Age', 'EdLevel', 'Employment',
       'EmploymentAddl', 'WorkExp', 'LearnCodeChoose', 'LearnCode',
       'LearnCodeAI',
       ...
       'AIAgentOrchestration', 'AIAgentOrchWrite', 'AIAgentObserveSecure',
       'AIAgentObsWrite', 'AIAgentExternal', 'AIAgentExtWrite', 'AIHuman',
       'AIOpen', 'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=170)

In [18]:
df_schema = pd.read_csv(r"C:\Users\Світлана\Downloads\Materials Python\survey_results_schema.csv")

In [19]:
df_schema.sample(5)                                     # Verifying the data (2)

,qid,qname,question,type,sub,sq_id
36,QID27,JobSatPoints_15,Rank the following attributes of your current ...,RO,Other (please specify):,15.0
18,QID19,TechOppose_13,What would turn you off or cause you to reject...,RO,Outdated or obsolete technology or features,8.0
3,QID18,TechEndorse_4,What attracts you to a technology or causes yo...,RO,Customizable and manageable codebase,4.0
89,QID58,WebframeHaveEntry,Were the web frameworks and web technologies y...,TE,NaN,NaN
127,QID87,AIAgentImpact,To what extent do you agree with the following...,Matrix,NaN,NaN

#### 1. Determine the total number of respondents and how many answered all questions.

In [20]:
df_results.ResponseId.nunique()                           # Determine the total unique number of respondents

49123

In [21]:
qs_set = set(df_schema['qname']) & set(df_results.columns) # filter out only the relevant columns in the survey data — that is,
                                                              those that exactly match the questions from the schema file
qs_set

{'AIAcc',
 'AIAgentChange',
 'AIAgentExtWrite',
 'AIAgentExternal',
 'AIAgentKnowWrite',
 'AIAgentKnowledge',
 'AIAgentObsWrite',
 'AIAgentObserveSecure',
 'AIAgentOrchWrite',
 'AIAgentOrchestration',
 'AIAgent_Uses',
 'AIAgents',
 'AIComplex',
 'AIExplain',
 'AIFrustration',
 'AIHuman',
 'AILearnHow',
 'AIModelsChoice',
 'AIModelsHaveEntry',
 'AIModelsWantEntry',
 'AIOpen',
 'AISelect',
 'AISent',
 'AIThreat',
 'Age',
 'AgentUsesGeneral',
 'CommPlatformHaveEntr',
 'CommPlatformWantEntr',
 'CompTotal',
 'Country',
 'Currency',
 'DatabaseChoice',
 'DatabaseHaveEntry',
 'DatabaseWantEntry',
 'DevEnvHaveEntry',
 'DevEnvWantEntry',
 'DevEnvsChoice',
 'DevType',
 'EdLevel',
 'Employment',
 'EmploymentAddl',
 'ICorPM',
 'Industry',
 'JobSat',
 'JobSatPoints_1',
 'JobSatPoints_10',
 'JobSatPoints_11',
 'JobSatPoints_13',
 'JobSatPoints_14',
 'JobSatPoints_15',
 'JobSatPoints_15_TEXT',
 'JobSatPoints_16',
 'JobSatPoints_4',
 'JobSatPoints_5',
 'JobSatPoints_6',
 'JobSatPoints_7',
 'JobSatPoints_8',
 'JobSatPoints_9',
 'LanguageChoice',
 'LanguagesHaveEntry',
 'LanguagesWantEntry',
 'LearnCode',
 'LearnCodeAI',
 'LearnCodeChoose',
 'MainBranch',
 'NewRole',
 'OfficeStackHaveEntry',
 'OfficeStackWantEntry',
 'OrgSize',
 'PlatformChoice',
 'PlatformHaveEntry',
 'PlatformWantEntry',
 'PurchaseInfluence',
 'RemoteWork',
 'SOAccount',
 'SOComm',
 'SODuration',
 'SOFriction',
 'SOPartFreq',
 'SOTagsHaveEntry',
 'SOTagsWant Entry',
 'SOVisitFreq',
 'SO_Actions_1',
 'SO_Actions_10',
 'SO_Actions_15',
 'SO_Actions_15_TEXT',
 'SO_Actions_16',
 'SO_Actions_3',
 'SO_Actions_4',
 'SO_Actions_5',
 'SO_Actions_6',
 'SO_Actions_7',
 'SO_Actions_9',
 'SO_Dev_Content',
 'TechEndorseIntro',
 'TechEndorse_1',
 'TechEndorse_13',
 'TechEndorse_13_TEXT',
 'TechEndorse_2',
 'TechEndorse_3',
 'TechEndorse_4',
 'TechEndorse_5',
 'TechEndorse_6',
 'TechEndorse_7',
 'TechEndorse_8',
 'TechEndorse_9',
 'TechOppose_1',
 'TechOppose_11',
 'TechOppose_13',
 'TechOppose_15',
 'TechOppose_15_TEXT',
 'TechOppose_16',
 'TechOppose_2',
 'TechOppose_3',
 'TechOppose_5',
 'TechOppose_7',
 'TechOppose_9',
 'ToolCountPersonal',
 'ToolCountWork',
 'WebframeChoice',
 'WebframeHaveEntry',
 'WebframeWantEntry',
 'WorkExp',
 'YearsCode'}

In [22]:
df_results[list(qs_set)].isnull().sum()               # The number of missing values ​​in each column

JobSatPoints_8          24206
AIAgentObserveSecure    46432
SO_Actions_15_TEXT      48300
TechEndorse_2           13180
SOTagsHaveEntry         48666
                        ...
TechEndorseIntro        11603
EmploymentAddl           4303
YearsCode                6123
PlatformWantEntry       46027
SO_Actions_7            22882
Length: 124, dtype: int64

In [23]:
df_results[list(qs_set)].dropna().shape[0]                # 1 way not work

0

In [24]:
df_results[list(qs_set)].dropna(how="all").shape[0]       # 2 way is work - Determine the total number of respondents who answered all questions

49123

#### 2. Calculate measures of central tendency (mean, median, mode) for work experience (WorkExp)

In [25]:
df_results = pd.read_csv(r"C:\Users\Світлана\Downloads\Materials Python\survey_results_public.csv")

In [26]:
print('AVG:', round(df_results.WorkExp.mean(),2))
print('Median:', round(df_results.WorkExp.median(),2))        # first solution to the problem
print('Mode:', round(df_results.WorkExp.mode(),2))

AVG: 13.37
Median: 10.0
Mode: 0    10.0
Name: WorkExp, dtype: float64

In [27]:
df_results["WorkExp"].describe()                              # second solution to the problem

count    42844.000000
mean        13.370810
std         10.801917
min          1.000000
25%          5.000000
50%         10.000000
75%         20.000000
max        100.000000
Name: WorkExp, dtype: float64

#### 3. Count the number of developers working remotely.

In [28]:
df_results[df_results['RemoteWork'].apply(lambda x: 'remote' in str(x).lower())]['ResponseId'].nunique() # 1 way

17652

In [29]:
df_results[df_results['RemoteWork'].str.contains('Remote', case=False, na=False)]['ResponseId'].nunique()  # 2 way

17652

#### 4. Identify what percentage of respondents code in Python

In [30]:
df_results.ResponseId.nunique()

49123

In [31]:
python_quantity = df_results[df_results['LanguageHaveWorkedWith'].apply(lambda x: 'python' in str(x).lower())]['ResponseId'].nunique()
print('Percentage of respondents who program on Python: ', python_quantity / df_results.ResponseId.nunique()*100)

Percentage of respondents who program on Python:  37.54656678134479

#### 5. Find out how many learned programming through online courses

In [32]:
df_results[df_results['LearnCode'].apply(lambda x: 'online courses' in str(x).lower())]['ResponseId'].nunique()   # 1 way (apply(lambda x:)

10957

In [33]:
df_results[df_results['LearnCode'].str.contains('online courses', case=False, na=False)]['ResponseId'].nunique()  # 2 way

10957

#### 6. For developers who use Python, calculate the average and median yearly compensation by country (ConvertedCompYearly).

In [34]:
df_results[df_results['LanguageHaveWorkedWith'].apply(lambda x: 'python' in str(x).lower())]\
     .groupby('Country')['ConvertedCompYearly']\                       # Grouping and aggregating data based on lambda
     .agg(['mean', 'median'])\
     .sort_values('mean', ascending=False)

                                   mean    median
Country
Oman                      390135.000000  390135.0
Andorra                   226103.500000  226103.5
Viet Nam                  218837.166667    8254.0
United States of America  173295.260243  150000.0
Switzerland               156456.600000  142592.0
...                                 ...       ...
Niger                               NaN       NaN
Palau                               NaN       NaN
Papua New Guinea                    NaN       NaN
Senegal                             NaN       NaN
Tajikistan                          NaN       NaN

[167 rows x 2 columns]

#### 7. Identify five respondents with the highest compensation and analyze their education levels.

In [35]:
df_results[['EdLevel', 'ConvertedCompYearly']]\
     .sort_values('ConvertedCompYearly', ascending=False)\
     .reset_index()\
     .iloc[:5]

   index                                          EdLevel  ConvertedCompYearly
0  34267              Associate degree (A.A., A.S., etc.)           50000000.0
1  28700  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)           33552715.0
2  43143              Associate degree (A.A., A.S., etc.)           18387548.0
3  35353     Bachelor’s degree (B.A., B.S., B.Eng., etc.)           15430267.0
4  45971  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)           13921760.0

#### * Create a boolean column: is there Python in the answers

In [36]:
# 1) create a boolean column: is there Python in the answers
df_results["UsesPython"] = df_results["LanguageHaveWorkedWith"].str.contains("Python", case=False, na=False)

# 2)group by age category
python_by_age = (
    df_results.groupby("Age")["UsesPython"]
    .mean() * 100                             # середнє від True/False = відсоток True
)

#  3) form it into a table:
python_by_age = python_by_age.round(2).reset_index()
python_by_age.columns = ["Age", "PercentPython"]

print(python_by_age)

                 Age  PercentPython
0    18-24 years old          40.03
1    25-34 years old          36.94
2    35-44 years old          36.71
3    45-54 years old          38.66
4    55-64 years old          37.24
5  65 years or older          31.63
6  Prefer not to say          31.22

#### * Most common industries among high-compensation (75th percentile) remote developers.

In [37]:
# 1. Calculate the 75th percentile of compensation
q75 = df_results["ConvertedCompYearly"].quantile(0.75)

# 2. Filter respondents:
# - compensation >= q75
# - RemoteWork contains "remote"
top_remote = df_results[
    (df_results["ConvertedCompYearly"] >= q75) &
    (df_results["RemoteWork"].str.contains("remote", case=False, na=False))
]

# 3. Counting the most common industries
industry_counts = top_remote["Industry"].value_counts().head(10)

print(industry_counts)

Industry
Software Development                          1501
Other:                                         267
Fintech                                        254
Healthcare                                     236
Internet, Telecomm or Information Services     192
Banking/Financial Services                     156
Government                                     118
Media & Advertising Services                    97
Retail and Consumer Services                    94
Computer Systems Design and Services            92
Name: count, dtype: int64

#### Project Format:
Implemented in Jupyter Notebook.
📁 File: stackoverflow_survey_analysis.ipynb